{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    <style>
         legend{
             visibility: hidden;
        }

    </style>
{% endblock %}

{% block body %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h1>modifier une figure</h1>
    {{ form_start(form) }}
    {{ form_row(form.title, {'attr': {'placeholder': "Titre de la figure"}}) }}
    {{ form_row(form.category) }}
    {{ form_row(form.content, {'attr': {'placeholder': "Contenu"}}) }}
    <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"></ul>
    <ul class="tags" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"></ul>
    <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/style.js') }}"></script>
{% endblock %}
