{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}


{% block body %}

<section class="figures">

    {% for figure in figures %}
    <article>
        <h2>{{ figure.title }}</h2>
        <div class="metadata">Ecrit le {{ figure.createAt | date('d/m/Y') }} à {{ figure.createAt | date('H:i') }}dans la catégorie politique</div>
        <div class="content">
            {% for image in figure.images %}
                <img src="{{ image.webPath }}" alt="">
            {% endfor %}
            {{ figure.content | raw }}
            <a href="{{ path('figure_show', {'id':figure.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}


