{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .h1, h1 {
            font-size: 15px;
        }

        article button {
            position: relative;
            bottom: 50px;
            left: 100px;
        }

        a i {
            position: relative;
            bottom: 50px;
            left: 250px;
        }

        article img {
            position: center;
        }

        h2 {
            position: relative;
            left: 150px;
        }

        h4 {
            position: relative;
            top: 50px;
        }

        .row img {
            height: 20px;
            width: 50px;
        }
    </style>
{% endblock %}

{% block body %}
    <article>
        {% for message in app.flashes('info') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="content">
            <h4>Type de figure : </h4>
            <div class="col-12"><h2 class="col-8">{{ figure.title }}</h2>
                {% if app.user == figure.user %}
                {{ form_start(delete_form, {'attr': {'class':'col-3'}}) }}
                <button type="submit" class="btn btn-success"><i class="far fa-trash-alt"></i></button>
                <a href="{{ path('figure_edit',{'id': figure.id} ) }}"><i class="far fa-edit"></i> </a>
                {{ form_end(delete_form) }}
            </div>
            {% endif %}

            {% for image in figure.images %}
                {% if app.user == figure.user %}
                    <a href="{{ path('image_remove',{id: image.id}) }}"><i
                                class="my-remove-alert fas fa-trash-alt fa-2x"></i></a>
                {% endif %}
                <img src="{{ asset(image.webPath) }}" alt="figure">
            {% endfor %}

        </div>
        <strong><p>Description : </p></strong>
        <div><p>{{ figure.content | raw }} </p></div>
        <strong><p>Lien : </p></strong>
        <div style="height :200px ;width :200px; display:inline">

            {% for video in figure.videos %}
                <div class="card">
                    {{ video.video()|raw }}
                    <div class="card-body">
                        {% if app.user == figure.user %}

                            <a class="card-link" href="{{ path('video_remove',{id: video.id}) }}"> <i
                                        class="my-remove-alert fas fa-trash-alt fa-2x"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div>
                </div>
            {% endfor %}

        </div>
        </br>
        <div class="metadata">Ecrit le {{ figure.createAt | date('d/m/Y') }}
            à {{ figure.createAt | date('H:i') }}</div>
        <div class="metadata"> Dans la catégorie: {{ figure.category.title }}</div>
    </article>
    </br>
    <section id="commentaires">

        {% if app.user %}
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaires est obligatoire"}}) }}
            <div>
                <button type="submit" class="btn btn-success">Commenter !</button>
            </div>
            {{ form_end(commentForm) }}
        {% else %}
            <h4> vous ne pouvez pas commenter si vous n'êtes pas connecté</h4>
            <div><a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a></div>
        {% endif %}

        <h1> {{ figure.comments | length }}Commentaires</h1>
        {% for comment in commentpagi %}
            <div class="comment">
                <div class="row">
                    <div>
                        <img src="{{ asset(comment.author.image.webPath) }}">
                    </div>
                    <div class="col-3">
                        {{ comment.author.firstname }} {{ comment.author.lastname }}
                        <small>{{ comment.createdAt | date ('d/m/Y à H:i') }} :</small>
                    </div>
                    <div class="col">
                        <p>{{ comment.content | raw }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page > 1 %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ path('figure_show',{'id':figure.id,'page':page - 1}) }}">Previous</a>
                    </li>
                {% endif %}
                {% if page < nb_pages %}
                    <li class="page-item"><a class="page-link"
                                             href="{{ path('figure_show',{'id':figure.id,'page':page + 1}) }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </section>
{% endblock %}
