{% extends 'base.html.twig' %}
{%  block stylesheets %}
    <style>
        img{
            height: 300px;


        }
    </style>
{% endblock %}
{% block body %}
<article>
    <h2>{{ figure.title }}</h2>
    <div class="metadata">Ecrit le {{ figure.createAt | date('d/m/Y')}}
        à {{ figure.createAt | date('H:i')}} dans la catégorie politique {{ figure.category.title }}</div>
    <div class="content">
        {% for image in figure.images %}
        <img src="{{ asset(image.webPath) }}" alt="">
            {{ form_start(delete_form) }}
            <input type="submit"  class="btn btn-danger pull-left">
            {{ form_end(delete_form) }}
            <button type="submit" class="btn btn-success"> Supprimer </button>
        {% endfor %}
        {{ figure.content | raw }}
    </div>
    <div style='height :200px ;width :200px'>
        {{ figure.video.video()|raw }}
    </div>

    <img src='{{ figure.video.image() }}' height='100px' width='100px'>
</article>

    <section id="commentaires">
       <h1> {{ figure.comments | length   }}Commentaires</h1>
    {%  for comment in figure.comments %}
        <div class=comment">
            <div class="row">
                <div>
                    <img src ="{{ asset(comment.author.image.webPath) }}">
                </div>
                <div class="col-3">
                    {{ comment.author.firstname }} {{ comment.author.lastname }} (<small>{{ comment.createdAt | date
                            ('d/m/Y à H:i')}}</small>
                </div>
                <div class="col">
                    {{ comment.content | raw}}
                </div>
            </div>

            </div>
    {% endfor %}

        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaires"}}) }}

        <button type="submit" class="btn btn-success">Commenter !</button>
        {{ form_end(commentForm) }}

        {% else %}
         <h2> vous ne pouvez pas commenter si vous n'êtes pas connecté</h2>
        <a href="{{ path('security_login') }}" class="btn btn-primary">
            Connexion
        </a>
        {% endif %}
    </section>
{% endblock %}